In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [2]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

In [3]:
train = pd.read_csv('train_data.csv')
train.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2
1,cxcon_4,0,520,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
2,cxcon_7,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
3,cxcon_10,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
4,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2

In [4]:
df = train[train['target']==2]

In [5]:
df.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2
4,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2
7,cxcon_22,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2
14,cxcon_43,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2
18,cxcon_55,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2

In [7]:
df.describe()

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,...,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target
count,36854.000000,3.685400e+04,3.685400e+04,36854.000000,36854.000000,36854.000000,36854.000000,36854.000000,36854.000000,36854.000000,...,36854.000000,36854.0,36854.0,36854.000000,36854.000000,36854.000000,36854.000000,36854.000000,36854.000000,36854.0
mean,7.827237,8.781988e+02,1.477305e+02,0.212841,0.213009,0.065736,0.065568,0.742775,0.022035,0.002381,...,0.000027,0.0,0.0,0.000027,0.000217,410.894557,360.914609,253.846611,186.294948,2.0
std,451.248363,2.691614e+04,2.683196e+04,0.408761,0.409349,0.246779,0.247297,0.417868,0.073329,0.047826,...,0.005209,0.0,0.0,0.005209,0.014732,155.979230,226.069164,16.467987,109.683262,0.0
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2.0
25%,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.130000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,267.000000,19.000000,255.000000,19.000000,2.0
50%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,511.000000,511.000000,255.000000,255.000000,2.0
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.050000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,511.000000,511.000000,255.000000,255.000000,2.0
max,42318.000000,5.133876e+06,5.150841e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.0,0.0,1.000000,1.000000,511.000000,511.000000,255.000000,255.000000,2.0

In [11]:
len(df)

36854

In [12]:
df_0 = train[train['target']==0]
len(df_0)

98868

In [18]:
lis = list(df.columns)
for i in lis:
    print(i,((df[i]==0).sum()/len(df)),((df_0[i]==0).sum()/len(df_0)))

connection_id 0.0 0.0
cont_1 0.996526835622 0.99658130032
cont_2 0.278395832203 0.277683375814
cont_3 0.993976230531 0.99432576769
cont_4 0.783632712867 0.782679936886
cont_5 0.786807402182 0.786037949589
cont_6 0.93335865849 0.93492333212
cont_7 0.934091279101 0.935459400413
cont_8 0.0101210180713 0.00991220617389
cont_9 0.723964834211 0.724562042319
cont_10 0.997395126716 0.996915078691
cont_11 0.0201877679492 0.0202795646721
cont_12 0.715553264232 0.716197354048
cont_13 0.279752537038 0.278603794959
cont_14 0.996228360558 0.995893514585
cont_15 0.782981494546 0.782245013553
cont_16 0.786427524828 0.785683942226
cont_17 0.930482444239 0.93183841081
cont_18 0.933141585717 0.93455921026
cat_1 0.0 0.0
cat_2 0.0 0.0
cat_3 0.0 0.0
cat_4 0.999972865903 0.999989885504
cat_5 0.999701524936 0.999706679613
cat_6 1.0 1.0
cat_7 0.998860367938 0.998887405429
cat_8 0.999945731807 0.999868511551
cat_9 0.996364031041 0.996308208925
cat_10 0.999158843002 0.999180725816
cat_11 0.999945731807 0.999969656512
cat_12 1.0 1.0
cat_13 0.999972865903 0.999989885504
cat_14 0.999945731807 0.999989885504
cat_15 0.999972865903 0.999989885504
cat_16 1.0 0.999989885504
cat_17 1.0 1.0
cat_18 0.999972865903 1.0
cat_19 0.999782927226 0.999787595582
cat_20 0.0 0.0
cat_21 0.0 0.0
cat_22 0.0 0.0
cat_23 0.0 0.0
target 0.0 1.0

In [19]:
from lightgbm import LGBMClassifier

In [21]:
from sklearn.metrics import confusion_matrix,roc_auc_score,roc_curve

In [20]:
## function for multi-accuracy
from sklearn.metrics import accuracy_score
def multAcc(pred,y_valid):
    acc = accuracy_score(y_valid, pred)
    return 'maccuracy', acc

In [24]:
df_1 = train[train['target']!=1]
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = df_1[features]
target = df_1['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = LGBMClassifier(learning_rate =0.10,n_estimators=1000,max_depth=3,min_child_weight=2,subsample=0.70,
                       colsample_bytree=0.60,reg_alpha=0.15,n_jobs=4,random_state=2017)
model.fit(x_train,y_train)
pred_test = model.predict(X_valid)
multAcc(pred_test,y_valid)

('maccuracy', 0.72782867107105143)

In [27]:
len(X_valid)

40717

In [25]:
confusion_matrix(y_valid,pred_test)

array([[29606,    55],
       [11027,    29]])

In [39]:
temp_actual = []
temp_full = []
temp = y_valid.as_matrix()
for i in range(len(pred_test)):
    if(pred_test[i]==2):
        temp_full.append(i)
    if pred_test[i]==2 and temp[i]==2:
        temp_actual.append(i)
print(temp_full)
print(temp_actual)

[823, 1327, 1444, 3001, 3067, 3135, 3143, 3903, 4431, 5234, 5825, 6082, 6467, 6486, 6720, 6875, 7138, 8136, 8553, 9479, 10043, 10078, 10255, 10368, 10392, 11233, 11453, 11506, 11930, 13746, 13834, 14173, 14970, 15408, 16352, 16630, 17211, 17718, 18715, 20018, 20457, 21402, 21692, 23161, 23997, 24519, 24900, 24978, 25209, 26980, 27685, 27812, 28164, 28485, 28646, 29245, 29300, 29937, 30125, 30137, 30183, 30860, 31429, 31447, 31566, 31730, 31804, 32802, 32943, 33237, 33385, 34298, 34676, 35287, 35858, 35963, 36269, 36552, 37831, 38327, 39329, 39922, 40195, 40391]
[1444, 3135, 3903, 4431, 6082, 6467, 8136, 10392, 13746, 13834, 15408, 16630, 17211, 17718, 21692, 24978, 28646, 30125, 30137, 30860, 31429, 31447, 33237, 34676, 35858, 35963, 36269, 37831, 39329]

[1444, 3135, 3903, 4431, 6082, 6467, 8136, 10392, 13746, 13834, 15408, 16630, 17211, 
 17718, 21692, 24978, 28646, 30125, 30137, 30860, 31429, 31447, 33237, 34676, 35858, 
 35963, 36269, 37831, 39329]

[823, 1327, 1444, 3001, 3067, 3135, 3143, 3903, 4431, 5234, 5825, 6082, 6467, 6486, 6720,
 6875, 7138, 8136, 8553, 9479, 10043, 10078, 10255, 10368, 10392, 11233, 11453, 11506,
 11930, 13746, 13834, 14173, 14970, 15408, 16352, 16630, 17211, 17718, 18715, 20018, 20457,
 21402, 21692, 23161, 23997, 24519, 24900, 24978, 25209, 26980, 27685, 27812, 28164, 28485,
 28646, 29245, 29300, 29937, 30125, 30137, 30183, 30860, 31429, 31447, 31566, 31730, 31804,
 32802, 32943, 33237, 33385, 34298, 34676, 35287, 35858, 35963, 36269, 36552, 37831, 38327,
 39329, 39922, 40195, 40391]

In [45]:
X_valid['target'] = pred_test
X_valid['target_1'] = y_valid
X_valid.to_csv('x.csv',index=False)

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [54]:
temp2 = X_valid[(X_valid['target']==2) & (X_valid['target_1']==2)]
temp2.to_csv('temp2.csv',index=False)